* {
  margin: 10px;
  padding: 10px;
  box-sizing: border-box;
}

.container {
  max-width: 1200px;
  margin: 20px auto;
  display: flex;
  flex-direction: column;
}

.header {
  background: #000;
  display: flex;
  flex-direction: column;
}

.menu {
  background: #2d4059;
  display: flex;
  justify-content: space-between;
}

.logo,
.social {
  background: #ea5455;
  flex: 1 1 auto;
}

.nav {
  background: #ea5455;
  flex: 5 1 auto;
}

.text {
  background: #f07b3f;
}

.titulo {
  background: #ffd460;
}

.main {
  background: #000;
  display: flex;
}

.section {
  background: #4e4e6a;
  display: flex;
  flex-flow: row wrap;
  flex: 2 2 auto;
}

.article {
  background: #1f6cb0;
  flex: 1 1 40%;
}

.line {
  background: #70a3c4;
  flex: 1 1 100%;
}

.aside {
  background: #f73f52;
  flex: 1 1 auto;
}

.others {
  background: #ffea85;
}

.footer {
  background: #000;
}

.foot {
  background: #e6af12;
}

@media all and (max-width: 1024px) {
  /* para tablets */
  .main {
    background: #f8e42f;
    flex-direction: column;
  }
}

@media all and (max-width: 488px) {
  /* para moviles */
  .menu {
    flex-direction: column;
  }
  .logo,
  .nav,
  .social {
    flex: 1 1 auto;
  }

  .main {
    background: #f8e42f;
  }

  .section {
    background: #1b647a;
    flex-direction: column;
  }

  .article {
    background: #659ab8;
    flex: 1 1 auto;
  }

  .line {
    background: #abe7ab;
    flex: 1 1 auto;
  }

  .aside {
    background: #f57439;
  }

  .others {
    background: #e7ae64;
  }

  .foot {
    background: #ebbe58;
  }
}
